<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="63177rhodesdanny.MetroCuratorTheGame" Publisher="CN=D65B4C29-4565-438C-BF7C-BE43D94A2753" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Metro Curator The Game</DisplayName>
    <PublisherDisplayName>rhodesdanny</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroCurator.App">
      <VisualElements DisplayName="Metro Curator" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Metro Curator is a &quot;Spot the differeces&quot; style game" ForegroundText="dark" BackgroundColor="white" ToastCapable="false">
        <DefaultTile ShowName="wideLogoOnly" WideLogo="Assets\WideLogo.png" ShortName="Metro Curator Game" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>